* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

textarea,
select,
input,
button {
    outline: none;
}

body {
    @include fonte($font_main, 400, 18px, $color-gray);
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

span,
p {
    @include fonte($font_main, 400, 20px, $color-gray);
}

h1 {
    @include fonte($font_main, 800, 45px, $color_gray_dark);
}

h2 {
    @include fonte($font_main, 700, 32px, $color_gray_dark);
}

h3 {
    @include fonte($font_main, 700, 20px, $color_gray_dark);
}

small {
    @include fonte($font_main, 700, 20px, $color_gray_dark);
}



@include res-max(300px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }
}

@include res-between(301px, 400px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }
}

@include res-between(401px, 500px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 28px;
    }
}

@include res-between(501px, 600px) {}

@include res-between(601px, 700px) {}

@include res-between(701px, 800px) {}

@include res-between(801px, 900px) {}

@include res-between(901px, 1000px) {}

@include res-min(1001px) {}