.dc_hbanner {
    width: 100%;
    overflow: hidden;
    display: block;
    height: auto;
    background-color: #111d36;

    .bannerIn {
        @include animate(fadeIn, 0s, 1s);
    }

    .bannerOut {
        @include animate(fadeOut, 0s, 1s);
    }

    .owl-stage {
        @include flexbox(row, wrap, flex-start, inherit, center);
    }

    >* {
        @include transition;
    }

    @include e('item') {
        @include flexbox(row, wrap, flex-start, center, flex-start);
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-position: center;
        background-size: cover;
        padding-top: 160px;
    }

    @include e('quotes') {
        @include transition;
        @include animate(fadeInLeft, 0s, 1s);
        background-image: url('#{$svg_quotes_white}');
        width: 75px;
        height: 45px;
        background-position: center top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    @include e('title') {
        @include fonte($font_main, 700, 70px, #FFF);
        @include transition;
        @include animate(fadeInLeft, 0s, 1s);
        text-transform: uppercase;
        display: block;
        max-width: 700px;

        &:after {
            @include border-radius(25px);
            content: "";
            display: block;
            width: 125px;
            height: 12px;
            margin-top: 10px;
            background-color: $color_red;
        }
    }

    @include e('desc') {
        @include fonte($font_main, 400, 24px, #FFF);
        @include transition;
        @include animate(fadeInLeft, .5s, 1s);
        display: block;
        max-width: 650px;
        margin: 10px 0px;
    }

    @include e('button') {
        @include dc_button(280px, 68px, 50px, $color_red, false);
        @include fonte($font_main, 700, 18px, #FFF);
        @include transition;
        @include animate(fadeInLeft, 1s, 1s);
        margin-top: 10px;
    }

    @include e('slide') {
        @include flexbox(column, wrap, flex-start, center, center);
        @include border-radius(25px);
        width: 45px;
        height: 85px;
        border: 2px solid #FFF;
        position: absolute;
        bottom: 20px;
        left: calc(50% - 22.5px);

        @include e('dot') {
            @include border-radius(50px);
            @include opacity(0);
            width: 10px;
            height: 10px;
            background-color: #FFF;
            position: relative;
            animation: mymove 2s infinite;
        }

    }

    .owl-dots {
        @include flexbox(column, nowrap, center, center, center);
        @include animate(fadeIn, 2s, 1s);
        position: absolute;
        right: calc(((100% - #{$wrapper}) / 2) + 50px);
        top: 0;
        width: 50px;
        height: 100%;

        .owl-dot {
            @include border-radius(50px);
            @include transition;
            background-color: #FFF;
            width: 10px;
            height: 10px;
            margin: 5px 0px;

            &.active {
                height: 35px;
                background-color: $color_red;
            }

            &:hover {
                background-color: $color_red;
            }
        }
    }

    @mixin banner300x {
        @include e('item') {
            padding-top: 70px;
            padding-right: 50px;
        }

        @include e('quotes') {
            width: 40px;
            height: 40px;
        }

        @include e('title') {
            font-size: 35px;

            &:after {
                height: 8px;
                width: 70px;
            }
        }

        @include e('desc') {
            font-size: 18px;
        }

        @include e('slide') {
            display: none;
        }

        @include e('button') {
            height: 45px;
        }

        .owl-dots {
            right: 0;
        }
    }


    @include res-max(300px) {
        @include banner300x;
    }

    @include res-between(301px, 400px) {
        @include banner300x;
    }

    @include res-between(401px, 500px) {
        @include banner300x;

        @include e('title') {
            font-size: 40px;
        }
    }

    @include res-between(501px, 600px) {
        @include banner300x;

        @include e('title') {
            font-size: 45px;
        }

        @include e('desc') {
            font-size: 20px;
        }
    }

    @include res-between(601px, 700px) {
        @include banner300x;

        @include e('quotes') {
            width: 60px;
            height: 55px;
        }

        @include e('title') {
            font-size: 50px;
        }

        @include e('desc') {
            font-size: 20px;
        }
    }

    @include res-between(701px, 800px) {
        @include banner300x;

        @include e('quotes') {
            width: 60px;
            height: 55px;
        }

        @include e('title') {
            font-size: 50px;
        }

        @include e('desc') {
            font-size: 20px;
        }
    }

    @include res-between(801px, 900px) {
        @include banner300x;

        @include e('quotes') {
            width: 60px;
            height: 55px;
        }

        @include e('title') {
            font-size: 50px;
        }

        @include e('desc') {
            font-size: 20px;
        }
    }

    @include res-between(901px, 1000px) {
        @include banner300x;

        @include e('quotes') {
            width: 60px;
            height: 55px;
        }

        @include e('title') {
            font-size: 50px;
        }

        @include e('desc') {
            font-size: 20px;
        }
    }

    @include res-min(1001px) {

        &.owl-carousel.owl-theme.owl-loaded.owl-drag,
        .owl-stage-outer,
        .owl-stage,
        .owl-item,
        .item,
        .owl-item,
        .img-responsive {
            height: 100vh;
            object-fit: cover;
        }
    }

}