.dc_logo {
    @include e('element') {
        width: 300px;
        height: 35px;
        display: block;
        background-image: url("data:image/svg+xml, #{$svg_logo_white}");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            background-image: url("data:image/svg+xml, #{$svg_logo_red}");
        }

    }

    @include res-max(300px) {
        @include e('element') {
            width: 180px;
            height: 20px;
        }
    }

    @include res-between(301px, 400px) {
        @include e('element') {
            width: 180px;
            height: 20px;
        }
    }

    @include res-between(401px, 500px) {}

    @include res-between(501px, 600px) {}

    @include res-between(601px, 700px) {}

    @include res-between(701px, 800px) {}

    @include res-between(801px, 900px) {}

    @include res-between(901px, 1000px) {}

    @include res-min(1001px) {}
}