.dc_nav {
    @include e('container') {
        @include flexbox(row, nowrap, flex-start, center, center);
    }

    @include e('mob') {
        display: none;
        cursor: pointer;

        @include e('line') {
            @include transition();
            width: 25px;
            height: 2px;
            background-color: $color_gray_lighter;

            @include m('mid') {
                margin: 5px 0;
            }
        }
    }

    @include e('item') {
        @include flexbox(row, wrap, center, center, center);
        list-style: none;
        position: relative;
        height: 130px;


        &:hover {
            >.dc_subnav {
                @include animate(fadeInUp, 0s, .5s);
                visibility: visible;
            }

            >a {
                border: 2px solid #FFF;
            }
        }

        @include m('social') {
            @include flexbox(row, nowrap, flex-start, center, center);

            &:hover {
                border: 0px;

                a {
                    border: 0px;
                }
            }
        }
    }

    @include e('social') {
        margin-left: 20px;
        text-decoration: none;

        &:before {
            font-size: 20px !important;
            color: #FFF;
        }

        &:hover {
            border: 0px;

            &:before {
                color: $color_red;
            }
        }

        @include m('facebook') {
            &:before {
                @include set-icon($fa-var-facebook-f, 18px, 400, #FFF, true);
            }
        }

        @include m('twitter') {
            &:before {
                @include set-icon($fa-var-twitter, 18px, 400, #FFF, true);
            }
        }

        @include m('instagram') {
            &:before {
                @include set-icon($fa-var-instagram, 18px, 400, #FFF, true);
            }
        }

        @include m('linkedin') {
            &:before {
                @include set-icon($fa-var-linkedin-in, 18px, 400, #FFF, true);
            }

        }

        @include m('youtube') {
            &:before {
                @include set-icon($fa-var-youtube, 18px, 400, #FFF, true);
            }
        }

        @include m('wordpress') {
            &:before {
                @include set-icon($fa-var-wordpress-simple, 18px, 400, #FFF, true);
            }
        }
    }

    @include e('link') {
        @include flexbox(row, wrap, center, center, center);
        @include fonte($font_main, 400, 18px, #FFF);
        @include border-radius(50px);
        @include transition;
        text-decoration: none;
        width: 145px;
        height: 45px;

        &:hover,
        &.active {
            border: 2px solid #FFF;
        }

    }
}

.dc_subnav {
    @include flexbox(column, wrap, flex-start, center, center);
    @include border-radius();
    visibility: hidden;
    position: absolute;
    width: 250px;
    top: 128px;
    left: 0;
    padding: 10px 20px;
    background-color: #FFF;
    margin-bottom: 10px;

    @include e('item') {
        list-style: none;
        text-align: left;
        width: 100%;
        padding: 5px 10px;
        border-bottom: 1px solid $color_gray_light;

        &:last-of-type {
            border: 0;
        }
    }

    @include e('link') {
        @include fonte($font_main, 400, 18px, $color_gray_dark);
        width: 100%;
        padding: 10px 0px;
        text-decoration: none;
        display: block;

        &:hover {
            font-weight: 600;
        }
    }
}

@include res-max(1100px) {
    .dc_nav {
        &.active {
            &:before {
                @include transition;
                content: "";
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: .5;
                z-index: 10;
                overflow: hidden;
            }
        }

        @include e('container') {
            @include flexbox(column, nowrap, flex-start, flex-start, flex-start);
            @include transition;
            @include radiustl(15px);
            visibility: hidden;
            opacity: 0;
            width: 250px;
            height: 100%;
            position: fixed;
            padding-top: 40px;
            overflow-x: auto;
            background-color: #FFF;
            top: 0;
            right: -250px;
            z-index: 11;

            &.active {
                @include animate(fadeInRight, 0s, .5s);
                visibility: visible;
                right: 0;
            }

            &.disabled {
                @include animate(fadeOutRight, 0s, .5s);
                right: -250px;
            }

        }

        @include e('item') {
            @include flex-justify(flex-start);
            height: auto;
            width: 100%;
            color: $color_gray_dark;
            padding-left: 20px;

            &:hover {
                .dc_subnav {
                    @include animate(none, 0s, .1s);
                }

                >a {
                    border: 0;
                }
            }



        }


        @include e('link') {
            @include flex-justify(flex-start);
            @include border-radius(0);
            color: $color_gray;
            font-weight: bold;
            width: 100%;
            display: block;

        }

        .dc_subnav {
            transition: none;
            visibility: visible;
            display: block;
            position: relative;
            top: 0;
            background-color: transparent;
            padding: 0 0 0 5px;
        }

        @include e('mob') {
            display: block;

            &.active {
                position: fixed;
                right: 20px;
                top: 20px;
                z-index: 99999;

                .dc_nav__mob__line {
                    background-color: $color_gray;

                    @include m('mid') {
                        @include opacity(0);
                    }

                    @include m('top') {
                        @include transform(translate(0, 9px) rotate(131deg));
                    }

                    @include m('bot') {
                        @include transform(translate(0, -5px) rotate(-129deg));
                    }
                }
            }
        }

        @include m('ebooks') {
            display: none;
        }

    }

}