.dc_wrapper {
    @include flexbox(row, wrap, center, flex-start, flex-start);
    width: 100%;

    @include e('content') {
        width: 100%;
        max-width: $wrapper;
        padding: 20px;
    }
}

.dc_section_title {
    width: 100%;

    h1 {
        width: 100%;
        max-width: 600px;

        &:after {
            @include border-radius(25px);
            content: "";
            display: block;
            width: 55px;
            height: 8px;
            margin-top: 10px;
            background-color: $color_red;
        }
    }

    @include e('small') {
        display: block;
        margin: 10px 0px;
        width: 100%;
        max-width: 700px;
    }

    @include m('left') {
        @include flexbox(row, wrap, flex-start, center, center);

        h1 {
            @include flexbox(row, wrap, flex-start, center, center);
        }

        .dc_section_title__small {
            text-align: left;
        }
    }

    @include m('center') {
        @include flexbox(row, wrap, center, center, center);

        >h1 {
            @include flexbox(row, wrap, center, center, center);
            text-align: center;
        }

        .dc_section_title__small {
            text-align: center;
        }
    }

    @include m('right') {
        >h1 {
            @include flexbox(column, wrap, center, flex-end, center);
        }
    }



}


@include res-max(300px) {}

@include res-between(301px, 400px) {}

@include res-between(401px, 500px) {}

@include res-between(501px, 600px) {}

@include res-between(601px, 700px) {}

@include res-between(701px, 800px) {}

@include res-between(801px, 900px) {}

@include res-between(901px, 1000px) {}

@include res-min(1001px) {}