.dc_wrapper {
    @include flexbox(row, wrap, center, flex-start, flex-start);
    width: 100%;

    @include e('content') {
        width: 100%;
        max-width: $wrapper;
        padding: 20px;
    }
}

.dc_section_title {
    &:after {
        @include border-radius(25px);
        content: "";
        display: block;
        width: 55px;
        height: 8px;
        margin-top: 10px;
        background-color: $color_red;
    }
}


@include res-max(300px) {}

@include res-between(301px, 400px) {}

@include res-between(401px, 500px) {}

@include res-between(501px, 600px) {}

@include res-between(601px, 700px) {}

@include res-between(701px, 800px) {}

@include res-between(801px, 900px) {}

@include res-between(901px, 1000px) {}

@include res-min(1001px) {}